.card {
    margin-left: 0!important;
}

.card-img-overlay {
    padding: 0.2rem;
}

.material-icons {
    font-size: 18px;
}

.btn-delete {
    position: absolute;
    float: right;
    right: 0;
    padding: 5px;
    top: 0;
}