<div class="card-deck mt-3 text-center">
    
    <div *ngIf="emptyListMessage" class="col-md-12">
        <div class="alert alert-warning" role="alert">
            {{emptyListMessage}}
        </div>
    </div>

    <div class="card mb-3" style="max-width:191px" *ngFor="let item of list" >
        <img routerLink="/view-profile/{{item.userId}}" class="card-img-top" width="191px" [src]="item.profilePhotoUrl" alt="Photo">
        <div class="btn-delete">
            <span *ngIf="showDelete">
                <button (click)="onDelete(item.userId)" class="btn btn-outline-secondary btn-sm"><i class="material-icons">highlight_off</i></button>
            </span>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{item.username}}</h4>
            <p class="card-text text-muted">{{item.age}} | <location-display [country]="item.country" [region]="item.region" [city]="item.city"></location-display></p>
        </div>
            <div class="card-footer">
            <small class="text-muted">{{item.eventCreatedDate}}</small>
        </div>
    </div>
</div>