<md-progress-bar mode="indeterminate" *ngIf="showLoader"></md-progress-bar>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">Ugly Schmucks</a>
</nav>
<div class="container">

  <div class="content">
    <h1>Complete your profile</h1>
    <p class="lead">Your almost done</p>
  </div>
  <form [formGroup]="joinForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="birthday" class="col-2 col-form-label">Birthday</label>
          <div class="col-10">
            <div class="input-group">
            <input type="text" id="birthday" class="form-control" placeholder="yyyy-mm-dd"
                   name="birthday" ngbDatepicker #d="ngbDatepicker" formControlName="birthday">
            <span (click)="d.toggle()" class="input-group-addon" id="basic-addon1"><i class="material-icons">today</i></span>
            </div>
            <control-messages [control]="joinForm.controls.birthday"></control-messages>
          </div>
        </div>
        <div class="form-group row">
          <label for="country" class="col-2 col-form-label">Country</label>
          <div class="col-10">
            <select id="country" class="form-control" formControlName="country" (ngModelChange)="loadRegions($event)">
              <option value="">Select</option>
              <option *ngFor="let country of countries" [value]="country.countryId">{{country.countryName}}</option>
            </select>
            <control-messages [control]="joinForm.controls.country"></control-messages>
          </div>
        </div>
        <div class="form-group row">
          <label for="region" class="col-2 col-form-label">Region</label>
          <div class="col-10">
            <select id="region" class="form-control" formControlName="region" (ngModelChange)="loadCities($event)">
              <option value="">Select</option>
              <option *ngFor="let region of regions" [value]="region.regionId">{{region.regionName}}</option>
            </select>
            <control-messages [control]="joinForm.controls.region"></control-messages>
          </div>
        </div>
        <div class="form-group row">
          <label for="city" class="col-2 col-form-label">City</label>
          <div class="col-10">
            <select id="city" class="form-control" formControlName="city">
              <option value="">Select</option>
              <option *ngFor="let city of cities" [value]="city.cityId">{{city.cityName}}</option>
            </select>
            <control-messages [control]="joinForm.controls.city"></control-messages>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label for="ethnicity" class="col-2 col-form-label">Ethnicity</label>
          <div class="col-10">
            <select id="ethnicity" class="form-control" formControlName="ethnicity">
              <option value="">Select</option>
              <option *ngFor="let ethnicity of fieldOptions?.ETHNICITY?.options" [value]="ethnicity.id">{{ethnicity.display}}</option>
            </select>
            <control-messages [control]="joinForm.controls.ethnicity"></control-messages>
          </div>
        </div>
        <div class="form-group row">
          <label for="bodyType" class="col-2 col-form-label">Body</label>
          <div class="col-10">
            <select id="bodyType" class="form-control" formControlName="bodyType">
              <option value="">Select</option>
              <option *ngFor="let bodyType of fieldOptions?.BODY_TYPE?.options" [value]="bodyType.id">{{bodyType.display}}</option>
            </select>
            <control-messages [control]="joinForm.controls.bodyType"></control-messages>
          </div>
        </div>
        <div class="form-group row">
          <label for="smoke" class="col-2 col-form-label">Smoking</label>
          <div class="col-10">
            <select id="smoke" class="form-control" formControlName="smoke">
              <option value="">Select</option>
              <option *ngFor="let smoke of fieldOptions?.SMOKE?.options" [value]="smoke.id">{{smoke.display}}</option>
            </select>
            <control-messages [control]="joinForm.controls.smoke"></control-messages>
          </div>
        </div>
        <div class="form-group row">
          <label for="childrenStatus" class="col-2 col-form-label">Children</label>
          <div class="col-10">
            <select id="childrenStatus" class="form-control" formControlName="childrenStatus">
              <option value="">Select</option>
              <option *ngFor="let childrenStatus of fieldOptions?.CHILDREN_STATUS?.options" [value]="childrenStatus.id">{{childrenStatus.display}}</option>
            </select>
            <control-messages [control]="joinForm.controls.childrenStatus"></control-messages>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="aboutMe" class="col-form-label">Tell us about yourself</label>
          <textarea id="aboutMe" class="form-control" formControlName="aboutMe"></textarea>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"  formControlName="agreeToTerms">
            I have read and agree to the Terms & Conditions and Privacy Policy.
          </label>
          <control-messages [control]="joinForm.controls.agreeToTerms"></control-messages>
        </div>
        <div class="form-group">
          <re-captcha
          (resolved)="resolved($event)"
          siteKey="6Ld1AgwTAAAAAC_Uj9-BPEmDxYERXDf_mHRKvfmH"
          ></re-captcha>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg" [disabled]="!joinForm.valid || disabled">Join Now</button>
        </div>

      </div>
    </div>
  </form>
</div>
