<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" href="#">Ugly Schmucks</a>
</nav>

<div class="container">
  <div class="content">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Get Noticed</h4>
        <h6 class="card-subtitle mb-2 text-muted">Upload your photo</h6>
        <d-photo-upload (complete)="onPhotoUploadSuccess($event)"></d-photo-upload>
    </div>
    <small class="float-right"><a routerLink="/search" class="card-link text-muted text-sm float-right">Skip<i class="material-icons align-middle">keyboard_arrow_right</i></a></small>
  </div>
</div>
