body {
  padding-top: 5rem;
}
.content {
  padding: 3rem 1.5rem;
  text-align: center;
}

.pagination {
  margin: 30px;
}

.edit-link, .edit-link i {
  font-size: 12px;
}

.card img {
  width:191px;
  height:212px;
}

.card img, h5, .pagination li, .toggle-criteria-icon, .edit-link  {
  cursor: pointer;
}



