<d-nav navType="MEMBER"></d-nav>
<div class="container mt-3">
    <div class="card">
        <div class="card-header">
          Favorites
        </div>
        <div class="card-body">
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>My Favorites</a>
                    <ng-template ngbNavContent>
                        <profile-list [list]="favoritedProfiles" [emptyListMessage]="emptyListMessageMyFavorites" [showDelete]=true (delete)="onDelete($event)"></profile-list>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Favorited Me</a>
                    <ng-template ngbNavContent>
                        <profile-list [list]="favoritedMeProfiles" [emptyListMessage]="emptyListMessageFavoritedMe"></profile-list>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>