<d-nav navType="MEMBER"></d-nav>
<div class="container mt-3">
    <div class="card">
        <div class="card-header">
          Favorites
        </div>
        <div class="card-body">
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle>My Favorites</ng-template>
                    <ng-template ngbTabContent>
                        <profile-list [list]="favoritedProfiles" [emptyListMessage]="emptyListMessageMyFavorites" [showDelete]=true (delete)="onDelete($event)"></profile-list>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Favorited Me</ng-template>
                    <ng-template ngbTabContent>
                        <profile-list [list]="favoritedMeProfiles" [emptyListMessage]="emptyListMessageFavoritedMe"></profile-list>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>