<d-nav navType="MEMBER"></d-nav>
<div class="container mt-3">
  <div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    Membership
                </div>
                <div class="card-block">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Date Joined</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{user?.createdDate}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Account Status</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{accountStatus}}</p>
                        </div>
                    </div>

                    <div *ngIf="subscription">
                        <hr/>
                        <h4>Subscription</h4>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Start Date</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{subscription.startDate}}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">End Date</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" [ngClass]="{'text-danger': isSubscriptionExpired}">{{subscription.endDate}} <span *ngIf="isSubscriptionExpired">(expired)</span></p>
                            </div>
                        </div>
                        <div class="text-center" *ngIf="paymentPageData?.paypalUnsubscribeUrl && !isSubscriptionExpired">
                            <a href="{{paymentPageData?.paypalUnsubscribeUrl}}">
                                <img src="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_LG.gif" BORDER="0">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <small class="pt-4">I no longer wish to use this site. Please <a [routerLink]="" (click)="deleteAccount()">delete my account</a>.</small>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    Email Notifications
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col">
                            <span>Message Alert</span>
                            <small class="form-text text-muted">Notify me when someone sends a message</small>
                        </div>
                        <div class="col">
                            <label class="custom-control custom-radio">
                                <input type="radio" name="message" class="custom-control-input" [value]="true" [(ngModel)]="user.emailSubscription.isSubscribedNewMailAlert">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">On</span>
                                </label>
                                <label class="custom-control custom-radio">
                                <input type="radio" name="message" class="custom-control-input" [value]="false" [(ngModel)]="user.emailSubscription.isSubscribedNewMailAlert">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Off</span>
                            </label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <span>Flirt Alert</span>
                            <small class="form-text text-muted">Notify me when someone sends a flirt</small>
                        </div>
                        <div class="col">
                            <label class="custom-control custom-radio">
                                <input type="radio" name="flirt" class="custom-control-input" [value]="true" [(ngModel)]="user.emailSubscription.isSubscribedNewFlirtAlert">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">On</span>
                                </label>
                                <label class="custom-control custom-radio">
                                <input type="radio" name="flirt" class="custom-control-input" [value]="false" [(ngModel)]="user.emailSubscription.isSubscribedNewFlirtAlert">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Off</span>
                            </label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <span>Favorited Me Alert</span>
                            <small class="form-text text-muted">Notify me when someone adds me to their favorites list</small>
                        </div>
                        <div class="col">
                            <label class="custom-control custom-radio">
                                <input type="radio" name="favorited-me" class="custom-control-input" [value]="true" [(ngModel)]="user.emailSubscription.isSubscribedFavoritedMeAlert">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">On</span>
                                </label>
                                <label class="custom-control custom-radio">
                                <input type="radio" name="favorited-me" class="custom-control-input" [value]="false" [(ngModel)]="user.emailSubscription.isSubscribedFavoritedMeAlert">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Off</span>
                            </label>
                        </div>
                    </div>
                    <button (click)="onSubmit()" class="btn btn-primary mt-3"><i class="material-icons align-middle">settings_power</i> Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right"><button (click)="logout()" class="btn btn-secondary"><i class="material-icons align-middle">settings_power</i> Logout</button></div>
  </div>
</div>
